{% extends 'base.html' %}
{% block content %}

<h2>Mis Transferencias </h2>

<div class="table-container">
    <table border="1"  style="margin: 0 auto;">
        <caption>Ultimos movimientos</caption>
        <tr>
            <th>Nº de transferencia</th>
            <th>Fecha</th>
            <th>Cuenta de origen</th>
            <th>Cuenta de destino</th>
             <th>Monto</th>
        </tr>
         {% for transfer in object_list %}
        <tr>
            <td>{{transfer.id}}</td>
            <td>{{transfer.creation_date}}</td>
    
            <td>{{transfer.origin_account}}</td>
            <td>{{transfer.destination_account}}</td>
            <td>{{transfer.amount}}</td>
            <td> <button><a href="{% url 'download' transfer.id %}">Ver en PDF</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>
<strong><button><a href="{% url 'create_transfer' %}">Nueva transferencia </a></button></strong>
{% endblock %}
.table-container { background-color: red;}