{% load crispy_forms_tags %}

<div class ="card">
    <div class="card-header">
    <strong class="card-title">Inicio de sesion </strong>
</div>
<div class="card-body">
<form method="post">
    {% csrf_token %}
    {% if form.error_messages %}
    
   <strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
    {% endif %}

    {{ form|crispy }}
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Login</button>
        <a href="#" class="btn btn-danger"></a>Cancelar</a>
    </div>
</form> 
<a href="{% url 'reset_password' %}">Olvido su contraseña?</a>
<a href="{% url 'register' %}">Crear cuenta </a>
<a href="{% url 'contact' %}">Contactanos</a>
</div>
