{% extends 'base.html' %}
{% block content %}

<div style="width: 450px;  margin: 10px auto; padding: 10px;">

    <table border="1"  style="margin: 30px auto;">
    <caption style="margin: 10px auto;"><strong>Mis cuentas</strong></caption>
    <tr>
        <th>Nº de cuenta</th>
        <th>Alias</th>
        <th>Tipo de Moneda</th>
        <th>Saldo</th>
    </tr>
     {% for account in accounts %}
    <tr>
        <td>{{account.account_number}}</td>
        <td>{{account.alias}}</td>
        <td>{{account.type_currency}}</td>
        <td>{{account.balance}}</td>
        <td><a href="{% url 'my_transferences' %}">Ver transferencias</a></td>
    </tr>
    {% endfor %}
</table>

</div>
<a href="{% url 'create_account' %}"><button>Crear nueva cuenta monetaria</button></a>
{% endblock %}