{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<div class ="card">
    <div class="card-header">
    <strong class="card-title">Nueva cuenta monetaria </strong>
</div>
<div class="card-body">
<form method="post">
    {% csrf_token %}
    
    {{ form|crispy }}
    <div class="card-footer">
        <button class="btn btn-primary" type="submit">Crear</button>
        <a href="{% url 'index' %}" class="btn btn-danger"></a>Cancelar</a>
    </div>
</form> 

{% endblock %}