{% extends 'base.html' %}
{% block content %}

<h2>Transferencias Generales </h2>


<table border="1"  style="margin: 0 auto;">
    <caption>Cotizacion con respecto al USD</caption>
    <tr>
        <th>Fecha y hora </th>
        <th>Moneda </th>
        <th>Precio</th>
        <th>Actualizacion</th>
     </tr>
     {% for currency in object_list %}
    <tr>
        <td>{% now "jS F Y H:i" %}</td>
        <td>{{currency.name}}</td>

        <td>{{currency.price}}</td>
        <td>{{currency.}}</td>
        <td>{{transfer.amount}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}