{% load static %}
<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<title>Ripio Cryptocurrencies Web</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

   
<header>
<h1> Ripio Cryptocurrencies</h1>
<h2>Bienvenido {{user}}</h2>
<p textalign="right">{% now "jS F Y H:i" %}</p>
<a href="{% url 'logout'%}">Logout</a>
</header>

{% block content %}
{% endblock %}

<footer>
    <h2> Ripio Cryptocurrencies WEB &copy; 2021 created by Ignacio Vidondo </h2>
</footer>

</html>