{% load static %}
<!DOCTYPE html>
<html>
<head> 
<meta charset="utf-8">
<title>Ripio Cryptocurrencies Web</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <h1><a href="{% url 'index' %}" >Ripio Cryptocurrencies</a></h1>

</header>

{% block content %}
{% endblock %}
<div style=" margin: 50px auto; ">
<footer>
    <h2> Ripio Cryptocurrencies WEB &copy; 2021 created by Ignacio Vidondo </h2>
</footer>
</div>
</html>