{% extends 'base.html' %}
{% block content %}

<nav>
    <a href="{% url 'accounts_balance' %}">Mis cuentas</a>
    <a href="{% url 'my_transferences' %}">Mis Transferencias</a>
    <a href="{% url 'all_transferences' %}">Transferencias Generales</a>
    <a href="{% url 'store' %}">Comprar monedas</a>
    <a href="{% url 'currencies_price' %}">Cotizacion</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% if user.is_staff %}
    <a href="{% url 'administrator' %}">Manejo Administrador</a>
    {% endif %}

</nav>

<div class="container">
    <aside>

        <p textalign="right">{% now "jS F Y H:i" %}</p>
        <br>
        <p>Cotizacion actual :</p>
        <ul>
            {% for currency in object_list %}
            <li>
                <p>{{currency.name}}</p><p><strong>${{currency.price}}</strong></p><p>/USD</p>
            </li>
          {% endfor %}
        </ul>
    </aside>
    <section>
    <h2>Bienvenido {{user|title}}</h2>
    </section>
</div>
</nav>
{% endblock %}