{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="{% url 'accounts_balance' %}">Mis cuentas</a>
    <a href="{% url 'my_transferences' %}">Mis Transferencias</a>
    <a href="{% url 'all_transferences' %}">Transferencias Generales</a>
    <a href="{% url 'transactions' %}">Transacciones</a>
    <a href="{% url 'currencies_price' %}">Cotizacion</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Manejo Administrador</a>
    {% endif %}
    
</nav>
    
    <div class="container">
    <aside>
        <h2> titulo del aside</h2>
        
    </aside>
    
    <section>
        <h2>titulo del section</h2>
    </section>
    </div>
</nav>
{% endblock %}