{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="{% url 'accounts_balance' %}">Mis cuentas</a>
    <a href="{% url 'my_transferences' %}">Mis Transferencias</a>
    <a href="{% url 'all_transferences' %}">Transferencias Generales</a>
    <a href="{% url 'transactions' %}">Transacciones</a>
    <a href="#">Cotizacion</a>
    <a href="{% url 'logout' %}">logout</a>
    </nav>
    
    <div class="container">
    <aside>
        <h2> titulo del aside</h2>
    </aside>
    
    <section>
        <h2>titulo del section</h2>
    </section>
    </div>
{% endblock %}